---
- name: Create a Request (POST)
  hosts: localhost
  connection: local
  gather_facts: false

  vars_files:
    - credentials.yml

  tasks:
    - name: Create a Request
      manageengine.sdp_cloud.write_record:
        domain: "{{ domain }}"
        parent_module_name: "request"
        client_id: "{{ client_id }}"
        client_secret: "{{ client_secret }}"
        refresh_token: "{{ refresh_token }}"
        dc: "{{ dc }}"
        portal_name: "{{ portal_name }}"
        payload:
          subject: "New request from Ansible"
          description: "Created via sdp_api_post playbook"
          priority: "High"
      register: new_request

    - name: Display Request Data
      ansible.builtin.debug:
        msg:
          - "ID: {{ new_request.response.request.id | default('N/A') }}"
          - "Subject: {{ new_request.response.request.subject | default('N/A') }}"
