- name: Generate SDP Cloud Access Token
  hosts: localhost
  connection: local
  gather_facts: false

  vars_files:
    - credentials.yml

  tasks:
    - name: Create a Problem
      manageengine.sdp_cloud.write_record:
        domain: "{{ domain }}"
        parent_module_name: "problem"
        client_id: "{{ client_id }}"
        client_secret: "{{ client_secret }}"
        refresh_token: "{{ refresh_token }}"
        dc: "{{ dc }}"
        portal_name: "{{ portal_name }}"
        payload:
          title: "New problem from Ansible New modulare version"
          description: "Created via sdp_api module"
          priority: "High"
      register: new_problem

    - name: Display Problem Data
      ansible.builtin.debug:
        msg:
          - "{{ new_problem }}"
