---
- name: Get List of Problems (GET)
  hosts: localhost
  connection: local
  gather_facts: false

  vars_files:
    - credentials.yml

  tasks:
    - name: Get Problems List
      manageengine.sdp_cloud.read_record:
        domain: "{{ domain }}"
        parent_module_name: "problem"
        client_id: "{{ client_id }}"
        client_secret: "{{ client_secret }}"
        refresh_token: "{{ refresh_token }}"
        dc: "{{ dc }}"
        portal_name: "{{ portal_name }}"
        payload:
          row_count: 10
          start_index: 1
      register: list_response

    - name: Display Problems (ID and Title)
      ansible.builtin.debug:
        msg: "ID: {{ item.id }} | Title: {{ item.title }}"
      loop: "{{ list_response.response.problems | default([]) }}"
      loop_control:
        label: "{{ item.display_id.display_value | default(item.id) }}"
